.container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.leftCol {
display: grid;
justify-content: center;
}

.imageBox {
    width: 409px;
    height: 386px;
    left: 61px;
    top: 185px;
    border-radius: 10px;
}

.scrollImage {
vertical-align: middle;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.imageItem {
    font-size: 25px;
    display: inline-block; 
    padding: 5px !important;
}

.containerRight {
    padding-left: 30px;
}

.title {
    line-height: 0.8;
}

.price {
    font-size: x-large;
}

.heading {
    margin-top: 20px;
    display: flex;
    border-top: 1px solid rgba(196, 195, 195, 0.414);
    border-bottom: 1px solid rgba(196, 195, 195, 0.414);
    width: 75%;
    height: 40px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px; 
    align-items: flex-end;
}

.heading h5 {
    font-weight: bolder;
}

.headingActive {
    color: #A1D8D2;
}

.headingActive:hover {
    color: #405654;
}

.headingOff {
    color: #E3E3E3;
}

.headingOff:hover {
    color: #A1D8D2;
}

.description {
    margin-top: 20px;
}

.descTitle {
    display: flex;
    justify-content: space-between;
}

.buttonEdit {
    background-color: #405654;
    color: #ECF7F6;
    border-radius: 20px;
    font-size: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.buttonEdit:hover {
    background-color: #A1D8D2 ;
}

.descBody {
    margin-top: 10px;
}

.location {
    line-height: 0.8;
}

.map {
    z-index: -1;
}

.scrollImage::-webkit-scrollbar {
    width: 10px;
}
.scrollImage::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scrollImage::-webkit-scrollbar-thumb {
    background-color: #888;
}
.scrollImage::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Phone xs */
@media (max-width : 575.98px) {
    .container {
        padding-top: 50px;
    }
    .title {
        line-height: 1.2;
    }
    .heading {
        margin-top: 10px;
        width: 100%;
    }
    .containerRight {
        padding-left: 0;
        margin-top: 20px;
    }
    .location {
        line-height: 1.2;
    }
    .map {
        z-index: -1;
        margin-bottom: 80px;
    }
}

/* Tablet md */
@media (min-width : 767.98px) and (max-width : 991.98px) {
    .title {
        line-height: 1;
    }
    .heading {
        margin-top: 10px;
        width: 100%;
    }
    .containerRight {
        padding-left: 0;
        margin-top: 20px;
    }
    .location {
        line-height: 1;
    }
}


