.jumbotron {
    margin: 0.5rem auto !important;
    border-radius: 20px;
    width: 95%;
    min-height: 75vh;
    background-image: url("/jumbotron.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
}

.title {
    color: #ECF7F6;
    width: 50%;
    margin-left: 5rem;
    line-height: 1.5rem;
}

.flyingBox {
    padding: 0px;
    z-index: 999 !important;
    width: 85%;
    display: flex;
    position: absolute;
    bottom: 4vh;
    left: 8.5vw;
    min-height: 20vh;
    background-color: #A1D8D2;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.contentBox {
    width: 10% !important;
    display: flex;
    padding-top: 9vh;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.contentBox:hover {
    width: 10% !important;
    display: flex;
    padding-top: 9vh;
    justify-content: center;
    transform: scale(1.1);
    color: #405654;
    cursor: pointer;
}

.wave {
    z-index: -1;
    padding: 0px !important;
    margin: 0px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 9vh;
}

.popBox {
    margin: 20vh auto 2rem !important
}

/* Phone sm */
@media (min-width : 0) and (max-width : 767.98px) {
    .popBox {
        margin: 8vh auto 0rem !important
    }
}