.container {
    margin-bottom: 30px;
}

.colLeft {
    background-color: #ECF7F6;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.topBox {
    margin-bottom: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemLeft {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}
.itemLeft:hover {
    color: #A1D8D2;
}
.itemLabel {
    font-size: larger;
    font-weight: bolder;
}

.bottomBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.beOwner {
    font-size: larger;
    font-weight: bolder;
    color: #61827E;
}
.beOwner span {
    cursor: pointer;
    color: #405654;
}
.beOwner span:hover {
    color: #A1D8D2;
}
.logOut {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    color: red;
}
.logOut:hover {
    color: rgb(168, 6, 6);
}

.colRight {
    margin-top: 40px;
    margin-right: 80px;
}

.topItem {
    border-bottom: 1px solid #81ada87f;
}

.imageBox {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.imageProfile {
    object-fit: cover;
    border-radius: 50%;
}

.tableBox {
    width: 60%;
}

/* Phone xs */
@media (max-width : 575.98px) {
    .colLeft {
        margin-bottom: 30px;
        padding: 30px;
    }
    .colRight {
        margin-top: 5px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 40px;
    }
    .tableBox {
        width: 100%;
    }
}

/* Phone sm */
@media (min-width : 575.98px) and (max-width : 767.98px) {
    
}

/* Tablet md */
@media (min-width : 767.98px) and (max-width : 991.98px) {
    .colLeft {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
        padding: 30px;
    }
    .colRight {
        margin-top: 40px;
        margin-right: 40px;
    }
    .tableBox {
        width: 100%;
    }
}

/* Laptop lg*/
@media (min-width : 991.98px) and (max-width : 1199.98px) {
    
}